{% extends 'layout.html' %}

{% block body %}
<h1 id="main-title">Larche Home Server <small>Web App</small></h1>
<hr>
<h3 id="active-services">Active Services</h3>

<div id="port-table" class="container">
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Service Name</th>
      <th>State</th>
    </tr>
    {% set count = [0] %}
    {% for portcheck in portcheck %}
      <tr>
        <td>{{ portcheck.id }}</td>
        <td>{{ portcheck.Port }}</td>
        <td><strong>{{ state[count[0]] }}</strong></td>
      </tr>
      {% if count.append(count.pop() + 1) %}{% endif %}
    {% endfor %}
  </table>
</div>

<hr>

<h3>About LHS <small>Web App</small></h3>
<p>
  This is a web application which is intended to show the active state of the server.
  <br />
  Services provided are free of charge and media stored on the server are for <b>personal consumption only</b> by the server owner.
  <br />
  The primary use of the server and connectable services are for gaming.
  <br />
  Note that I am not affliated with any company, I am maintaing these services, minus media, for friends and family only.
</p>

<hr>

<div id="main-end-text">
  <p>
    <small>Last updated 2018-06-06</small>
  </p>
</div>
{% endblock %}
