#home-title {
  padding-top: 25px;
}

#main-title {
  padding-top: 25px;
}


#ports-heading {
  padding-top: 20px;
}

#ports {

}

#port-table {
  padding-bottom: 5px;
}

table, th, td {

}

#add-ports {

}

#portChanges {
  padding-top: 50px;
}

main-end-text {
  margin: auto;
  width: 50%;
}

#DiskSpace-heading {
  padding-top: 20px;
}

#progressBarContainer {
  position: relative;
  left: 180px;
  bottom: 60px;
}

#CPU-Threaduse {
  float: left;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#CPU-total-indicator {
  padding-top: 10px;
  padding-bottom: 50px;
}

#Data {
  float: left;
}

.container .chart {
  float: left;
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  padding-top: 55px;
}

.container .chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
