#home-title {
  padding-top: 25px;
}

#main-title {
  padding-top: 25px;
}


#ports-heading {
  padding-top: 20px;
}

#ports {

}

#port-table {
  padding-bottom: 5px;
}

table, th, td {

}

#add-ports {

}

#portChanges {
  padding-top: 50px;
}

main-end-text {
  margin: auto;
  width: 50%;
}

#DiskSpace-heading {
  padding-top: 20px;
}

#progressBarContainer {
  position: relative;
  left: 180px;
  bottom: 60px;
}

#container{
  width: 1000px;
  margin: 0 auto;
}

#container #box{
  width: 25%;
  float: left;
}

#container #box #chart{
  position: relative;
  heigh: 110px;
  width: 110px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 110px;
}

#container #box #canvas{
  position: absolute;
  top: 0;
  left: 0;
}
