{% extends 'layout.html' %}

{% block body %}
<h1 id="home-title">Home <small>Welcome {{session.username}}</small></h1>

<!--
<h3 id="power-state-heading"><small>Servers Power States</small></h3>
-->

<h3 id="ports-heading"><small>Ports and Services</small></h3>

<div id="port-table" class="container">
  <table class="table table-hover table-secondary">
    <tr>
      <th>ID</th>
      <th>Service</th>
      <th>IP Address</th>
      <th>Port</th>
      <th>State</th>
    </tr>
    {% set count = [0] %}
    {% for portcheck in portcheck %}
      <tr>
        <td>{{ portcheck.id }}</td>
        <td>{{ portcheck.ServiceName }}</td>
        <td>{{ portcheck.IPAddress }}</td>
        <td>{{ portcheck.Port }}</td>
        <td><strong>{{ state[count[0]] }}</strong></td>
        <td><a href="editPort/{{ portcheck.id }}" class="btn btn-default pullright">Edit</a></td>
        <td>
          <form action="{{ url_for('deleteIP', id=portcheck.id) }}" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
      {% if count.append(count.pop() + 1) %}{% endif %}
    {% endfor %}
  </table>

  <div id="add-ports" class="container">
    <a class="btn btn-success" href="/addPorts">Add</a>
  </div>

</div>


{% block Disks %}
{% endblock %}

<div id="CPU" class="container">
  <div id="CPU-Threaduse">
    <h3 id="ports-heading"><small>CPU Usage</small></h3>
    <div class="chart" data-percent="{{ SYSdata['CPUtotal'] }}">Total CPU Use:<br>{{ SYSdata['CPUtotal'] }}%</div>
    <div id="Data" class="container">
      <p>Number of Physical Cores:  {{ SYSdata['NUMofCPU'] }}</p>
      <p>Number of Logical Cores: {{ SYSdata['NUMofTHREAD'] }}</p>
    </div>
  </div>

  <div id="CPU-Threaduse" class="container">
    <h3 id="ports-heading"><small>CPU Usage per Thread</small></h3>
    {% for x in range(1, SYSdata['NUMofTHREAD']) %}
      <div id="CPU-Threaduse-indicator" class="chart" data-percent="{{ SYSdata['CPUperCore'][x] }}">Thread {{ x }} Use:<br>{{ SYSdata['CPUperCore'][x] }}%</div>
    {% endfor %}
  </div>
</div>


<div id="RAM" class="container">
  <div id="CPU-Threaduse" class="container">
    <h3 id="ports-heading"><small>RAM Usage</small></h3>
    <div class="chart" data-percent="{{ SYSdata['VirtualMem'].percent }}">RAM Used:<br>{{ SYSdata['VirtualMem'].percent }}%</div>
    <div id="Data" class="container">
      <p>Total Installed RAM: {{ SYSdata['VirtualMem'].total }} bytes</p>
      <p>Avaliable RAM: {{ SYSdata['VirtualMem'].available }} bytes</p>
      <p>Used RAM: {{ SYSdata['VirtualMem'].used }} bytes</p>
    </div>
  </div>
</div>


{% endblock %}
