<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LHS{{ pagename }}</title>
<!--
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
-->
    <link href="/static/Darkly.css" rel="stylesheet" type="text/css" />
    <link href="/static/home.css" rel="stylesheet" type="text/css" />
    <link rel = "shortcut icon" href = "/static/v2.png" />
  </head>
  <body>

    {% include 'includes/navbar.html' %}

    <div class="container">
      {% include 'includes/messages.html' %}

      {% block body %}
      {% endblock %}
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/static/jquery.easypiechart.js"></script>
    <script>
        $(function() {
            $('.chart').easyPieChart({
                size: 180,
                barColor: '#17d3e6',
                scaleColor: false,
                lineWidth: 15,
                trackColor: '#373737',
                lineCap: 'circle'
            });
        });
    </script>
  </body>
</html>
